<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">celebrity route</a>
<a href="/celebrities/create">celebrity create</a>
<a href="/movies/create">Movie create</a>
<a href="/movies">All movies</a>